<!-- <div class=cal></div> -->
<h3 class="text-center tb">Bid History</h3>
<div class="table-responsive mt-4">
  <table class="table table-bordered table-striped ml-3 mr-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col-2">Product Image</th>
        <th scope="col-2">Product Name</th>
        <th scope="col-2">Product Closing Date</th>
        <th scope="col-2">Intial Amount</th>
        <th scope="col-2">Bidder Amount</th>
        <th scope="col-2">Bidder Name</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of bids">

        <td><img [src]="bid.product.image" /></td>
        <td>{{bid.product.productName}}</td>
        <td>{{bid.product.closingDate | date:'medium'}}
          <!-- {{bid.product.productCategory.productCategoryName}} -->
        </td>
        <td>{{bid.product.bidAmount | currency:'INR'}}</td>
        <td>{{bid.bidAmount | currency:'INR'}}</td>
        <td>{{bid.user.fullName}}</td>

      </tr>
     
    </tbody>
  </table>
</div>