<nav class="navbar navbar-expand-lg fixed-top  navbar-transparent navbar-dark">

    <div class="navbar-translate">
        <a href="#" class="navbar-brand" target="_blank">GET IT EASY</a>
        <button class="navbar-toggler navbar-burger bg-dark" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation" (click)="sidebarToggle()">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse float-right mr-2" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a [routerLink]="['/home']" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <div ngbDropdown class="d-inline-block dropdown">
                    <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Product Category</a>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                        <div class="menu">
                            <div class="row">
                                <div class="column" style="height:fit-content">
                                    <p class="font-weight-bold">Category</p>
                                    <a [routerLink]="['/allProductsBycategory',category.productCategoryId]"
                                        *ngFor="let category of productCategories">{{category.productCategoryName}} </a>
                                </div>
                                <div class="column">
                                    <p  class="font-weight-bold" >Price Based</p>
                                    <a [routerLink]="['/allProductsByRange',{min:1,max:1000}]">Under 1000</a>
                                    <a [routerLink]="['/allProductsByRange',{min:1001,max:3000}]">1000-3000</a>
                                    <a [routerLink]="['/allProductsByRange',{min:3001,max:5000}]">3000-5000</a>
                                    <a [routerLink]="['/allProductsByRange',{min:5001,max:20000}]">Above 5000</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/allproducts']" class="nav-link">All Products</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/my-aunction']" class="nav-link">My Auctions</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/login']" class="nav-link">Log In</a>
            </li>
            <li class="nav-item float-right">
                <a [routerLink]="['/signup']" class="nav-link">Sign up</a>
            </li>
            <li class="nav-item">
                <a (click)="logout()" class="nav-link">Log Out</a>
            </li>
        </ul>
    </div>

</nav>