<img src="assets/img/dark.jpg" width="100%" height="400px"/>

      <div class=" border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Auction</div>
            <div class="list-group float-left list-group-flush">
              <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
             
            <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">Display Products</a>
            <a [routerLink]="['/sell']" class="list-group-item list-group-item-action bg-light">Sell Product</a>
            <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">Auction Details</a>
            <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">Categories</a>
            <a [routerLink]="['/home']" class="list-group-item list-group-item-action bg-light">About Us</a>
            <a [routerLink]="['/mail']" class="list-group-item list-group-item-action bg-light">Send Mail</a>
            <a [routerLink]="['/home']"class="list-group-item list-group-item-action bg-light">Contact for any query</a>
            </div>
            <article  id="aside">
                <div class="container">
                    <h2 class="tex">Auction 2020</h2> 
                   <h4 class="tex">  Get it easy provides different types of arts, paintings and products to bid and sell.</h4>
                   <div class="tex">
                            <h3>Live bidding begins</h3>
                        </div>
                        <div class="mt-4 ml-4 container-login100-form-btn m-t-32">
                        <button id="btn-submit" type="submit" class=" btn mr-3 login100-form-btn"
                           style=" width: 10rem;"><a href="#" ></a>Register for bid</button>
                       </div>
                </div>
            </article>     
         </div>
          <div>
            <h2 class="text-center tex display-4"><b>Products</b></h2>
         </div>
                 <!--    <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    <br>
                    <ngb-pagination  [collectionSize]="70" [(page)]="page1" [maxSize]="5" [rotate]="true"></ngb-pagination>
                 --> 
  
                <div class="row">    
                        <div class="col-sm-3">
              
                     <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="assets/img/images-6.jpg">
                            <div class="card-body">
                             <h5 class="card-title">Pablo picasso</h5>
                                <h5 class="card-text">Contemporary Art</h5>
                                <h5 class="card-text">$500</h5>
                                <a href="#" class="btn btn-primary">Bid Now</a>
                             </div>
                     </div>
                </div>
                <div class="col-sm-3">
                     <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/img/picasso.jpg">
                               <div class="card-body">
                                <h5 class="card-title">Raj Rai</h5>
                                   <h5 class="card-text">Traditional Art</h5>
                                   <h5 class="card-text">$500</h5>
                                   <a href="#" class="btn btn-dark">Bid Now</a>
                                </div>
                        </div>
                    </div>
                        <div class="col-sm-3">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/images-5.jpg">
                                   <div class="card-body">
                                    <h5 class="card-title">Robert John</h5>
                                    <h5 class="card-text">Contemporary Art</h5>
                                    <h5 class="card-text">$500</h5>
                                       <a href="#" class="btn btn-primary">Bid Now</a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="row">    
                        <div class="col-md-3">
              
                     <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="assets/img/casol.jpg" alt="Card image cap">
                            <div class="card-body">
                             <h5 class="card-title">Jack Richard</h5>

                                <h5 class="card-text">Contemporary Art</h5>
                                   <h5 class="card-text">$500</h5>
                                   <a href="#" class="btn btn-primary">Bid Now</a>
                             </div>
                     </div>
                </div>
                <div class="col-md-3">
                     <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/img/images-7.jpg">
                               <div class="card-body">
                                <h5 class="card-title">Ella Rose</h5>
                                <h5 class="card-text">Contemporary Art</h5>
                                <h5 class="card-text">$500</h5>
                                  <a href="#" class="btn btn-dark">Bid Now</a>
                                </div>
                        </div>
                    </div>
                        <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/images-3.jpg">
                                   <div class="card-body">
                                       <h5 class="card-title">Russel Johnson</h5>
                                       <h5 class="card-text">Modern Art</h5>
                                   
                                   <h5 class="card-text">$500</h5>  <a href="#" class="btn btn-primary">Bid Now</a>
                                    </div>
                                </div>
                            </div>
                </div>


                <div class="row">    
                        <div class="col-md-3">
              
                     <div class="card" style="width: 18rem;">
                         <img class="card-img-top" src="assets/img/murti.jpg">
                            <div class="card-body">
                             <h5 class="card-title">Kriti Kolhi</h5>
                             <h5 class="card-text">Contemporary Art</h5>
                             <h5 class="card-text">$500</h5>
                             <a href="#" class="btn btn-primary">Bid Now</a>
                             </div>
                     </div>
                </div>
                <div class="col-md-3">
                     <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/img/images-4.jpg">
                               <div class="card-body">
                                <h5 class="card-title">Ruby Jenner</h5>
                                <h5 class="card-text">Contemporary Art</h5>
                                <h5 class="card-text">$500</h5> <a href="#" class="btn btn-dark">Bid Now</a>
                                </div>
                        </div>
                    </div>
                        <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/images.jpg">
                                   <div class="card-body">
                                    <h5 class="card-title">Ram Mahajan</h5>
                                    <h5 class="card-text">Contemporary Art</h5>
                                    <h5 class="card-text">$500</h5> <a href="#" class="btn btn-primary">Bid Now</a>
                                    </div>
                                </div>
                            </div>
                </div>


                <div class="section">
                     <div class="con text-center">
                            
                          <div class="row justify-content-md-center sharing-area text-center">
                             
                             <div class="text-center col-md-12 col-lg-8">
                                 <h3 class="foot text-light"> Thank you for supporting us!</h3>
                             </div>
                             <div class="text-center col-md-12 col-lg-8">
                                     <h3 class="foot text-light">OnlineAuctionHouse</h3>
                                     <h3 class="foot  text-light">Created By </h3>
                                     <h3 class="foot  text-light"> </h3>
             
                             </div>
                             
                         </div>
                         
                     </div>
                 </div>