#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 60vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#aside {
  display: flex;
  justify-content: right;
}

.con {
  background-color: black;
  height: 260px;
}

.foot {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-display: bold;
}

.btn-submit {
  margin-left: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 180px;
  padding: 25px;
  column-gap: 4px;
}

.tex {
  color: black;
  margin-left: 20px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}